@font-face {
    font-family: 'montserrat-extralight';
    src: url('../fonts/montserrat-extralight.eot');
    src: local('Montserrat ExtraLight'),
         url('../fonts/montserrat-extralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-extralight.woff2') format('woff2'),
         url('../fonts/montserrat-extralight.woff') format('woff'),
         url('../fonts/montserrat-extralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat-light';
    src: url('../fonts/montserrat-light.eot');
    src: local('Montserrat Light'),
         url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: local('Raleway SemiBold'),
         url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff2') format('woff2'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    max-width: 1080px;
    margin: 0 auto;
}
.catalog{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.products{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
}
.products-item{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.products-item-img{
    display: block;
    background: #ccc;
}
.products-item-name{
    display: block;
    margin: 5px 10px;
    font-family: 'montserrat-light', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
}
.products-item-price{
    display: block;
    margin: 0 10px;
    font-family: 'raleway-semibold', 'arial', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}
.btn{
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 0;
    outline: none;
    border: none;
    min-width: 100%;
    background: #41B33B;
    font-family: 'raleway-semibold', 'arial', sans-serif;
    text-transform: uppercase;
    font-size: 19px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.btn:hover{
    background: #000;
}
.btn-active{
    background: #000;
}
.cart{
    margin: 15% 5% 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-logo{
    min-width: 35px;
    min-height: 50px;
    background: url('../img/shopping-cart.svg') 0%/contain no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cart-count{
    min-width: 160px;
    text-align: center;
}
.cart-list{
    display: none;
    margin: 10px 0;
    padding: 5px;
    min-width: 160px;
    box-sizing: border-box;
    list-style-type: none;
    border: 1px solid black;
}
.cart-list-item{
    display: flex;
    justify-content: space-between;
}